* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 16px;
	color: #333;
}

ul.reponses {
	list-style: none;
	padding-left: 0;
}

ul.reponses li {
	margin: 5px 30%;
	padding: 15px;
	/*width: 50%;*/
	border: 1px solid #555;
	border-radius: 5px;
	cursor: pointer;
	text-align: center;
}

ul.reponses li:hover {
	background-color: #7DACE4;
}

h1 {
	text-align: center;
}
body {
	background-color: #ADF7D1;
}

/*Menu*/
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #95E8D7;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: #264E86;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #7DACE4;
}

.okgo {
	margin: 30px 40%;
    font-size: 18px;
    background-color: #74DBEF;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    float: left;
    color:black;
    border-radius: 10px;
}

.okgo:hover {
	background-color: #5E88FC;
	color: white;
}

.okgo:disabled {
	background-color: grey;
	color: #d3d3d3;
}

/* Barre progression */
.progressBar {
	width: 80%;
	height: 20px;
	margin-bottom: 1.4rem;
	margin: auto;
	outline: 3px solid #264E86;

}
.progressBar span {
	display: block;
	width: 100%;
	height: 20px;
	background-color: #264E86;
}

.progressBar.danger {
	outline: 3px solid #BF3F3F;
}
.progressBar.danger span {
	background-color: #BF3F3F;
}

.win {
	color:green;
	text-align: center;
}

.lose {
	color:red;
	text-align: center;
}

/*Accueil*/

.accueil {
	text-align: center;
}
.warning {
	color:red;
}

/*Questions*/
.score, h2 {
	text-align: center;
}
.score {
	font-size: 35px;
}
.reponses {
	display: block;

}
.pseudo {
	width: 37%;
	margin: auto;
}

/*Score*/

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
    margin: auto;
}

td, th {
    border: 1px solid #264E86;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #264E86;
    color:white;
}